*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px dashed #0047ab;
  outline-offset: 2px;
}

* {
  max-width: 500px;
  max-width: 55rem;
  max-width: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  font-family: "Open Sans", "Calibri", "Tahoma", sans-serif;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #2e2f3e;
  background-color: #fdfdfd;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  *:focus {
    outline-color: #369add;
  }
  body {
    color: #fff;
    background-color: #30363a;
  }

  a {
    color: #ffebcd;
  }
}

.dark-mode *:focus {
  outline-color: #369add;
}
.dark-mode body {
  color: #fff;
  background-color: #30363a;
}

.dark-mode a {
  color: #ffebcd;
}

.greeting {
  width: 95%;
  max-width: 600px;
  max-width: 60rem;
  margin: 0 auto;
}
