:root {
	--color-pacificblue: hsla(210, 96%, 32%, 1);
	--color-indigodye: hsla(349, 53%, 50%, 1);
	--color-pastelkirby: hsla(350, 53%, 80%, 1);
	
	--color-warpstar: #fad776;

	--color-overcastsky: hsla(0, 0%, 96%, 1);
	--color-oncomingstorm: hsla(0, 0%, 78%, 1);
	
	--color-ewwdavid: hsla(0, 0%, 8%, 1);
	--color-petrichor: hsla(0, 0%, 22%, 1);

	--accent-neutral: var(--color-oncomingstorm);
	--accent-primary: var(--color-pacificblue);
	--accent-secondary: var(--color-warpstar);

	--accent-warn: var(--color-warpstar);

	--body-text: var(--color-ewwdavid); 
	--link-text: var(--accent-primary);	
	--background: var(--color-overcastsky);

	--callout-border: var(--accent-neutral);
	--callout-accent: var(--accent-neutral);
}

@media (prefers-color-scheme: dark) {

	:root {
		--body-text: var(--color-overcastsky);
		--background: var(--color-ewwdavid);

		--accent-primary: var(--color-pastelkirby);
		--accent-neutral: var(--color-petrichor);
	}
	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: antialiased;
		font-smooth: antialiased;
	}
}

::selection {
  background: var(--accent-secondary11);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* + * {
	margin-top: 1.125em;
}

html {
	min-height: 0vw;
	font-size: 1.125em;
	font-size: calc(1em + 0.25vw);
	font-size: clamp(1em, calc(1em + 0.5vw), 1.25em);
	line-height: 1.6;
	font-family: "Cooper Hewitt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	color: #2e2f3e;
	color: var(--body-text);
	background-color: #fdfdfd;
	background-color: var(--background);
	margin: 0 auto;
	padding-bottom: 1.75em;
}

@media screen and (min-width: 420px) {
	html {
		line-height: 1.51;
	}
}

@media screen and (min-width: 640px) {
	html {
		line-height: 1.4;
	}
}

body > * {
	max-width: 800px;
	max-width: 66ch;
	padding: 0 0.75em;
	margin: 0 auto;
}

p {
	margin: 0;
	margin-top: 1em;
}

ul {
	padding-left: 2.2em;
	margin: 0;
	margin-top: 0.4em;
}

li + li {
	margin: 0;
	margin-top: 0.15625em;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, serif;
	font-weight: 600;
	line-height: 1.265625;
	margin: 0;
}

h1 + * , h2 + * {
	margin-top: 0.88888888em;
}
 
h1, .h1 {
	font-size: 1.601806641em;
	margin-top: 1.601806641em;
}

h2, .h2 {
	font-size: 1.423828125em;
	margin-top: 1.601806641em;
}

h3 {
	font-size: 1.125em;
	margin-top: 1.423828125em;
}

.text--small {
	font-size: 0.8em;
	line-height: 1.728;
}

.text--lede {
	font-size: 1.15em;
	line-height: 1.4;
}

b {
	font-weight: 600;
}

a {
	color: #0352A0;
	color: var(--link-text);
}

a:focus {
	position: relative;
	background: #0352A0;
	color: #fdfdfd;
	outline: 5px solid #0352A0;
	text-decoration: none;
}

@supports (--a: 0) {
	a:focus {
		background: var(--link-text);
		color: var(--background);	
		outline: 3px solid transparent;
		box-shadow: 0 0 0 4px var(--link-text), 0 -2px 0 4px var(--link-text);
	}
}

a:focus:hover {
	text-decoration: underline;	
}

code {
	color: var(--color-indigodye)
}

@media screen and (-ms-high-contrast: active) {
	*:focus {
		outline-width: 3px;
	}
	body {
		color: windowText;
		background-color: window;
	}
	a {
		color: windowText;
		text-decoration: underline;
	}
}

@media screen and (-ms-high-contrast: white-on-black) {
	*:focus {
		outline-color: gold;
	}

	a {
		color: gold;
	}
}

@media screen and (-ms-high-contrast: black-on-white) {
	*:focus {
		outline-color: blue;
	}

	a {
		color: blue;
	}
}

.callout {
	padding: 0.6em;
	padding-left: 0.8em;
	border: 1px solid;
	border-color: #d8d8d8;
	border-color: var(--callout-border);
	border-left-color: var(--callout-accent);
	border-left-width: 0.4em;
	border-radius: 0.125em;

	margin-top: 1.802032471rem;

	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	font-smooth: auto;
}

.callout > p {
	margin-top: 0.6em;
	max-width: 73ch;

}

.callout > :first-child {
	margin-top: 0;
}

.callout.primary {
	border-left-color: #03488e;
	border-left-color: var(--accent-primary);
}

.callout.warn {
	border-left-color: #fad776;
	border-left-color: var(--accent-warn);
}