* {
  box-sizing: border-box;
}

body {
  color: #222222;
  background-color: #f7f7f7;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: block;
  width: 100%;
}

nav a.button {
  display: none;
}

h1 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #23593C;
}

ul {
  list-style: disc outside none;
  margin-left: 0;
  padding-left: 1em;
}

li {
  padding-left: .1em;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

section h1 {
  margin-top: 2em;
}

section p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.work-section #projects {
  margin-bottom: 2.5rem;
}

.work-section .project {
  text-align: center;
  margin-bottom: 2.5rem;
}

.work-section .project .project-img {
  width: 100%;
  height: auto;
}

.work-section .project .project-name {
  margin-bottom: 0;
}

.work-section .project li {
  display: inline-block;
  margin: 0 0.2em;
}

.work-section .project .project-desc {
  height: auto;
}

.work-section .project .project-desc p {
  display: block;
  text-align: right;
  vertical-align: middle;
}

.content-footer {
  margin-top: 5em;
  padding: 2em 0;
  background-color: #598C7D;
  background-size: cover;
}

.content-footer a {
  color: white;
  font-weight: bold;
}

.content-footer p, .content-footer h1 {
  color: #f7f7f7;
}

.content-footer .contact a {
  display: inline-block;
}

.content-footer .contact object {
  pointer-events: none;
}

.content-footer .credits {
  margin-top: 1.5em;
  font-size: 0.8em;
}

.content-footer .credits p {
  margin: .5em;
}

.prefs {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.prefs-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.no-js .btn-open-prefs {
  display: none;
}

.js .btn-open-prefs {
  display: inline-block;
  float: right;
  position: absolute;
  right: 2rem;
  top: 3rem;
}

.btn-open-prefs {
  float: right;
  position: absolute;
  right: 2rem;
  top: 3rem;
}

.btn-close-prefs {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.btn-close-prefs:hover,
.btn-close-prefs:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body.high-contrast {
  background-color: black !important;
  color: white !important;
}

body.high-contrast .project-info-wrap, body.high-contrast .prefs, body.high-contrast .prefs-content, body.high-contrast footer {
  background-color: black !important;
  color: white !important;
}

body.high-contrast main a {
  color: white !important;
  font-weight: bold !important;
}

body.high-contrast .masthead {
  background-image: none !important;
}

@media only screen and (min-width: 420px) {
  .masthead-intro {
    font-size: 2.5em;
  }
  .masthead-heading {
    font-size: 8em;
  }
}

@media only screen and (min-width: 820px) {
  nav {
    background-color: #eee;
    height: 5rem;
  }
  nav .button {
    height: 100%;
    display: inline-flex;
    align-items: center;
    border: none;
    border-left: 1px solid #aaa;
    border-radius: 0;
  }
  nav .button.name {
    cursor: default;
  }
  .project {
    position: relative;
  }
  .project .project-info-wrap {
    position: absolute;
    opacity: 0;
    top: 0;
    padding: 1em;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .project .project-info-wrap:hover {
    opacity: .875;
  }
  .contact {
    width: 80%;
    margin: 0 auto;
  }
  .contact #linkedin-link {
    margin-top: -10px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
