$main-bg: #B0C1C5;
$header-bg: darken(white, 10%);
$nav-hover: darken($header-bg, 8%);
$main-color: #3d3d3d;
$link-color: darken($header-bg, 60%);
$main-accent: #598C7D;
$ht-def: 45em;


body {
    color: $main-color;
     background-color: $header-bg;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body.dyslexia-friendly {
    font-family: "Comic Sans MS", "Chalkboard SE", serif !important;
}

p {
    font-size: 1.5em;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: $link-color;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

header {
    display: block;
    position: absolute;
    z-index: 10;
    background-color: $header-bg;
    height: 5rem;

    #name {
        cursor: default;
        font-size: 18px;
        width: auto;
        padding-right: 0;
    }

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 100%;
        transition: background-color .5s ease;
    }

    nav {
        height: 100%;

        .menu-wrap {
            display: none;
            background-color: $header-bg;
            position: absolute;
            right: 0;
            top: 100%;
            li:hover {
                background-color: $nav-hover;
            }
            li {
                height: 5rem;
                margin-bottom: 0;
                text-align: right;
            }
        }
        @media only screen and (max-width: 750px) {
            #menu-btn:hover + .menu-wrap, .menu-wrap:hover{
                display: block;
                z-index: 1;
            }
        }
    }
}

main, footer {
    background-color: lighten($main-bg, 23%);
    position: relative;
}

main a:hover {
    text-decoration: underline;
}

section {
    height: auto;
}

.introduction {
    height: $ht-def;
    h1 {
        display: inline-block;
        color: darken($main-color, 10%);
        font-weight: 700;
        margin-right: .45em;
    }
    p  {
        font-size: 1.5em;
        margin-bottom: .5em;
    }
    .sub-one{
        font-size: 1.95em;
        display: inline-block;
    }
}

.info-wrap {
    padding-top: 2em;
    height: auto;
    p {
        margin: 0 auto;
        font-size: 1.3em;
    }
}

.code {
    h2 {
        text-align: center;
    }
    .project {
        padding: auto 1em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: calc(#{$ht-def} - 5rem);

    }

    .info-wrap {
        width: 90%;
        p {
            width: 90%;
        }
    }

    .project-links {
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 690px;
        margin: 8rem auto;
        li {
            display: flex;
            flex: 0 1 auto;
            flex-basis: fit-content;
            margin: 0 4%;
            height: auto;
            .button {
                display: block;
                width: 110px;
                margin: 0 auto;
            }
        }
    }
    #cozyFi {
        background-color: rgb(0, 188, 212);
        background-image: url('../img/cozyfi-cover.png');
        background-repeat: no-repeat;
        background-size: cover;

        .info-wrap {
            background-color: white;
            -webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.4s5);
            -moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.4s5);
            box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.4s5);
        }
        .button-primary {
            background-color: rgb(255, 64, 129);
            border-color: rgb(255, 64, 129);
        }
    }
    #d3Intro {
        background-color: #eee;
        background-image: url('../img/d3-cover.png');
        background-repeat: no-repeat;
        background-position: 0 235px;
        .button-primary {
            background-color: #5D97F1;
            border-color: #4067A4;
        }
    }
    #spacingQuiz {
        background-color: darken($header-bg, 12%);
        .button-primary {
            background-color: #224E5B;
            border-color: #224E5B;
        }
    }
    #flickrMap {
        background-color: darken($header-bg, 3%);
        background-color: #a3ccff;
        background-image: url('../img/flickrmap-cover.png');
        background-repeat: no-repeat;
        background-position: 0 -95px;
        .button-primary {
            background-color: #2A3962;
            border-color: #2A3962;
        }
    }

}

.advocacy {
    padding-top: 3em;
    padding-bottom: 3em;
    height: calc(#{$ht-def} - 15rem);
    .info-wrap {
        padding-top: 0;
        height: 100%;
    }
        h2 {
            text-align: center;
        }

    article {
        &:hover h3 {
            color: #1EAEDB;
            text-decoration: underline;
        }
        position: relative;
        margin-top: .5em;
        margin-bottom: .5em;
        h2 {
            margin: auto 1.75em;
        }
        h3 {
            font-size: 1.4em;
            margin-bottom: .25em;
            font-weight: bold;
        }
        p {
            font-size: 1.2em;
            width: auto;
        }

        a span {
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left: 0;
            z-index: 1;
            background-image: url('empty.gif');
        }
    }
    // Override default Skeleton behavior
    // for specific case of these containers
    @media only screen and (max-width: 900px) {
        .column,
        .columns {
          width: 100%;
          float: left;
          margin-left: 0;
          box-sizing: border-box; }
    }

}


.contact{
    height: 38rem;
    color: $main-color;
    background-color: $header-bg;
    .info-wrap {
        padding-top: 0;
        height: 100%;
    }
    .row{
        text-align: center;
        h1,p {
            display: inline-block;
        }
        h1 {
            font-size: 1.7em;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.5em;
        }
        .sub-two {
            display: block;
            font-size: .9em;
        }
    }
}

#prefsModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
        p {
            font-size: 1.15em;
        }
    }
    form {
        display: block;
        margin: 0 auto;
        height: auto;
        width: auto;
        fieldset {
            display: inline-block;
            padding: 1em;
            width: auto;
            background-color: #eee;
        }
    }
    button {
        display: block;
        position: relative;
        z-index: 100;
    }

}

.no-js #openPrefs, .no-localstorage {
    display: none;
}


@media only screen and (min-width: 400px) {
    p {font-size: 1.7em}
    .contact .row h1 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 750px) {
    .contact .row h1 {
        font-size: 2em;
    }
    header {
        nav {
            width: auto;
            .menu-wrap {
                position: static;
                display: inline-flex;
                flex-direction: row;
                li {
                    flex: 1 1 auto;
                }
                .button {
                    display: inline-flex;
                    flex-direction: column;
                }
            }
        }
        #menu-btn {
            display: none !important;
        }
    }
}
