$main-bg: darken(white, 3.25%);
$main-accent: #598C7D;
$link-color: #23593C;

* {
    box-sizing: border-box;
}

body {
    color: #222222;
    background-color: $main-bg;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
    font-size: 3rem;
}
h5 {
    font-size: 2rem;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: $link-color;
}
section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    h1 {
        margin-top: 2em;
    }
    p {
        font-weight: 300;
        letter-spacing: 0.05em;
    }
}

.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
}
.masthead {
    padding: 3em 0;
    background-image: url('https://images.unsplash.com/photo-1446071103084-c257b5f70672?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1525');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em $main-accent;
    width: 100%;
}
.masthead-portrait {
    display: block;
    border-radius: 50%;
    margin: 1em auto;
}
.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.5em;
    color: white;
}
.masthead-heading {
    margin-top: -.2em;
    margin-bottom: 0;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: white;
    // color: #22583D;
    // text-shadow: 3px 1px 2px #616c82;
}
.masthead-subheading {
    @extend .masthead-intro;
    margin-top: -.5rem;
}
.work-section {
    #projects {
        margin-bottom: 2.5rem;
    }
    .project {
        text-align: center;
        margin-bottom: 2.5rem;

        .project-img {
            width: 100%;
            height: auto;
        }
        .project-name {
            margin-bottom: 0;
        }
        li {
            display: inline-block;
            margin: 0 0.2em;
        }
        .project-desc {
            height: auto;
            p {
                display: block;
                text-align: right;
                vertical-align: middle;
            }
        }
    }
}
.content-footer {
    margin-top: 5em;
    padding: 2em 0;
    background-color: $main-accent;
    background-size: cover;
    a {
        color:white;
        font-weight: bold;
    }
    p {
        color: $main-bg;
    }
    .call-to-action {
        font-size: 1.3em;
    }
    .contact {
        a {
            display: inline-block;
        }
        object {
            pointer-events: none;
        }
    }
    .credits {
        margin-top: 1.5em;
        font-size: 0.8em;
        p {
            margin: .5em;
        }
    }
}

.prefs {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.prefs-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.btn-open-prefs {
    float:  right;
    margin-right: -23.5rem;
    margin-top: -3rem;
}

.btn-close-prefs {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-close-prefs:hover,
.btn-close-prefs:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body.high-contrast {
    background-color: black !important;
    color: white !important;
    .project-info-wrap, .prefs, .prefs-content, footer {
        background-color: black !important;
        color: white !important;
    }
    main a{
        color: white !important;
        font-weight: bold !important;
    }
    .masthead {
        background-image: none !important;
        // background-color: $main-accent !important;
    }
}

@media only screen and (min-width: 420px) {
    .masthead-intro {
        font-size: 2.5em;
    }
    .masthead-heading {
        font-size: 8em;
    }
}
@media only screen and (min-width: 820px) {
    .project {
        position: relative;
        .project-info-wrap {
            position: absolute;
            opacity: 0;
            top: 0;
            padding: 1em;
            background-color: $main-bg;
            width: 100%;
            height: 100%;
            z-index: 10;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover {
                opacity: .875;
            }
        }
    }
    .contact {
        width: 80%;
        margin: 0 auto;
        #linkedin-link {
            margin-top: -10px;
        }
    }
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
