$main-bg: darken(white, 3.25%);
$header-bg: darken($main-bg, 10.5%);
$nav-hover: darken($header-bg, 5%);
$main-color: #3d3d3d;
$link-color: #23593C;
$main-accent: #598C7D;

body {
    color: $main-color;
    background-color: $main-bg;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: $link-color;
}

header {
    display: block;
    position: absolute;
    z-index: 10;
    background-color: $header-bg;
    height: 5rem;

    #name {
        cursor: default;
        font-size: 18px;
        width: auto;
    }

    .button {
        // TODO: Add l/r border?
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 0;
        width: 110px;
    }

    nav {
        height: 100%;

        .menu-wrap {
            list-style-type: none;
            position: absolute;
            right: 0;
            top: 100%;
            background-color: $header-bg;

            li {
                height: 5rem;
                margin-bottom: 0;
            }
        }
    }
}

main {
    position: relative;
    top: 5rem;

}
section {
    height: 45em;
    .u-cvert {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
.introduction {
    h1 {
        display: inline-block;
        font-weight: 700;
        color: darken($main-color, 10%);;
        margin-right: .45em;
    }
    p  {
        font-size: 1.7em;
        margin-bottom: .5em;
    }
    .sub-one{
        font-size: 1.95em;
        display: inline-block;
    }
}

.work {
    #projects {
        margin-bottom: 2.5rem;
    }

    .project {
        text-align: center;
        margin-bottom: 2.5rem;

        .project-img {
            width: 100%;
            height: auto;
        }

        .project-name {
            margin-bottom: 0;
        }

        li {
            display: inline-block;
            margin: 0 0.2em;
        }

        .project-desc {
            height: auto;

            p {
                display: block;
                text-align: right;
                vertical-align: middle;
            }
        }
    }
}

.content-footer {
    margin-top: 5em;
    padding: 2em 0;
    background-color: $main-accent;
    background-size: cover;

    a {
        color: white;
        font-weight: bold;
    }

    h1, p {
        color: $main-bg;
    }

    .contact {
        a {
            display: inline-block;
        }

        object {
            pointer-events: none;
        }
    }

    .credits {
        margin-top: 1.5em;
        font-size: 0.8em;

        p {
            margin: 0.5em;
        }
    }
}

.prefs {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.prefs-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.no-js .btn-open-prefs {
    display: none;
}

.js .btn-open-prefs {
    display: inline-block;
    float: right;
    position: absolute;
    right: 2rem;
    top: 3rem;
}

.btn-close-prefs {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-close-prefs:focus,
.btn-close-prefs:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body.high-contrast {
    background-color: black !important;
    color: white !important;

    .prefs,
    .prefs-content,
    .project-info-wrap,
    footer {
        background-color: black !important;
        color: white !important;
    }

    main a {
        color: white !important;
        font-weight: bold !important;
    }
}
@media only screen and (min-width: 750px) {
    header {
        #name {
            padding-right: 0;
        }

        nav {
            padding-right: 2rem;
            width: auto;
            .menu-wrap {
                position: static;
                display: inline-flex;
                flex-direction: row;

                .button {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    li {
                        width: 105px;
                    }
                }
            }
        }
        button {
            display: none !important;
        }
    }
}
@media only screen and (min-width: 820px) {
    .project {
        position: relative;

        .project-info-wrap {
            position: absolute;
            opacity: 0;
            top: 0;
            padding: 1em;
            background-color: $main-bg;
            width: 100%;
            height: 100%;
            z-index: 10;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;

            &:hover {
                opacity: 0.875;
            }
        }
    }

    .contact {
        width: 80%;
        margin: 0 auto;

        #linkedin-link {
            margin-top: -10px;
        }
    }
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
