---
layout: page.njk
title: Accessible web development services
tags: nav
---

<p>
		I help individuals, development teams, and companies foster web accessibility in the work they do for the web.
</p>
<p>I can:</p>
<ul>
	<li>consult on the accessibility of your websites and JavaScript applications</li>
	<li>help you improve your designs before you sink time into inaccessible products</li>
	<li>help you turn your designs into prototypes</li>
	<li>help you make your existing product more accessible and performant</li>
	</ul>
<p class="[ text--lede ]">Want to work together? Please <a href="https://www.twitter.com/codeability" rel="noopener noreferrer"
	>reach out on Twitter</a
> or <a href="mailto:eliasjmason@gmail.com" rel="noopener noreferrer"
>email me</a>!</p>
<h2>Work I’m currently accepting:</h2>
<ul>
	<li><b>Feedback-oriented projects</b>, such as accessibility audits and design reviews.</li>
	<li><b>Engineering-oriented projects</b>, in which I help you develop a prototype or contribute to an existing project.</li>
</ul>
<div class="[ callout primary ] text--small">
	<p>
		For now, I am consulting <b>part-time</b> only.</p> <p>	If you need a full-time consultant, or need someone who is available during typical U.S. business hours, I cannot accept you as a client. I might be able to find you another consultant, however.
	</p>
</div>
<h2>On web accessibility audits</h2>
	<p>
		My accessibility audits are organized around key user flows. First, you tell me which user flows you’d like me to assess (or I can help you identify those flows); then we’ll discuss your user and device requirements. If you’re not targeting specific assistive technologies, I’ll scope my audit to VoiceOver with Safari and NVDA with its most common browser combinations. At this time, I do not audit for compatibility with JAWS.</p>
	<p>
		I will conduct my audit according to the <a href="https://www.w3.org/WAI/test-evaluate/conformance/wcag-em/">Web Content Accessibility Guidelines Conformance Evaluation Methodology (WCAG-EM)</a>, with some modifications: I can also provide non-normative feedback in my process, such as suggestions about how to improve designs and implementations that are <i>technically</i> conformant, but might be inaccessible all the same.
	</p>
	<p>
		I’ll deliver your audit report as a WCAG-EM document. I can also deliver the information in the report in other formats, such as a website with interactive examples. I can prepare a high-level summary of the report as a written document or slide presentation. We can discuss this when you contact me.
	</p>
	<p>If I discover in my audit some things that you would like help fixing, you can hire me as a web developer! This work would be separate and distinct from the audit process, and I would prefer that we discuss engineering work <i>after</i> the audit process, instead of trying to anticipate my engineering involvement ahead of time.</p>
	<h2>On engineering projects</h2>
	<p>I’m an expert at HTML, CSS, and JavaScript, and I approach all web development with a focus on progressive enhancement and accessibility. I have years of experience in React, and also very much enjoy typed JavaScript. I’m happy to work with libraries and tools that are new to me, as long as we both agree that I am the right person for the job.</p>
	<p class="[ text--lede ]">Like I said: Please <a href="https://www.twitter.com/codeability" rel="noopener noreferrer"
		>reach out on Twitter</a
	> or <a href="mailto:eliasjmason@gmail.com" rel="noopener noreferrer"
	>email me</a> if you’d like to work together!</p>