<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
	 <meta name="generator" content="{{ eleventy.generator }}">

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "src/public/css/index.css" %}{% endcss %}


		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		{%- js %}{% include "src/js/heading-anchors.js" %}{% endjs %}
		<script type="module" src="{% getBundleFileUrl "js" %}" async></script>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		{%- if title == "Home" %}
		<div class="c-notice">
			<b>FYI</b>
			<span>
				I&rsquo;m in the middle of redesigning this site, so things may look a little weird. We&rsquo;re all just gonna have to be cool with that.
			</span>
		</div>
		{%- endif %}

		<main id="skip">
			<heading-anchors prefix="Jump to section">
				{{ content | safe }}
			</heading-anchors>
		</main>


		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
