/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;
	--color-gray-80: #404040;
	--color-yellow-20: #fffdd9;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family);
	height: 100dvh;
	margin: 0 auto;
	padding: 0;
}
html {
	font-size: 62.5%;
	overflow-y: auto;
}
body {
	font-size: 2rem;
	max-width: 72ch;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	content: '';
	display: table;
	clear: both;
}

.links-nextprev {
	border-top: 1px dashed var(--color-gray-20);
	display: flex;
	gap: 8px 16px;
	justify-content: space-between;
	list-style: '';
	padding: 16px 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 16px 0;
}
table td,
table th {
	padding-right: 16px;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*='language-']) {
	-ms-hyphens: none;
	-webkit-hyphens: none;
	direction: ltr;
	hyphens: none;
	line-height: 1.375; /* 22px /16 */
	margin: 8px 0;
	overflow-x: auto;
	tab-size: var(--syntax-tab-size);
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 16px 8px;
	padding: 16px;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 32px;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-item {
	display: inline-block;
	margin-right: 16px;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current='page'] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 24px;
}
.postlist-item {
	align-items: baseline;
	counter-increment: start-from -1;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;
}
.postlist-item:before {
	content: '' counter(start-from, decimal-leading-zero) '. ';
	display: inline-block;
	line-height: 100%;
	margin-left: -24px;
	pointer-events: none;
	text-align: right;
}
.postlist-date,
.postlist-item:before {
	color: var(--color-gray-90);
	font-size: 1.3em; /* 13px /16 */
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	flex-basis: calc(100% - 1.5rem);
	font-size: 1.9em; /* 19px /16 */
	font-weight: 700;
	padding-left: 4px;
	padding-right: 8px;
	text-decoration-thickness: 1px;
	text-underline-offset: 0;
	text-underline-position: from-font;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	align-items: center;
	display: inline-flex;
	font-style: italic;
	justify-content: center;
	text-transform: capitalize;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-metadata time {
	margin-right: 16px;
}

.c-notice {
	background-color: var(--color-yellow-20);
	border: 1px solid var(--color-gray-20);
	border-radius: 4px;
	color: var(--color-gray-80);
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	gap: 4px;
	line-height: 1.4;
	margin: 24px auto;
	max-width: 80%;
	padding: 16px 24px;
}
